header {
    margin: 0;
    padding: 0;
    color: #ece3e3;
}

#nav {
    height: 40px;
    background-color: black;

}

button {
    
    background-color: #f08800;

}

#logo {
    color: #f08800;
    font-size: 25px;
    
}
a {
    margin-right: 200px;
}

#content {
    background-color: #ece3e3;
    height: 450px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.content-box {
    background-color: #10a817;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    display: inline-block;
}

footer {
    background-color: black;
    color: #ece3e3;
    text-align: center;
    padding: 10px;
}