* {
    margin: 0;
    padding: 0;
    color: #ece3e3;
}

#nav {
    height: 60px;
    background-color: black;

}

button {
    
    background-color: #f08800;

}

#logo {
    color: #f08800;
    font-size: 25px;
    
}
a {
    margin-right: 200px;
}
